{% extends "base.html" %} {% block title %}About | My Blog{% endblock %} {%
block content %}
<div class="card mb-3" ,align-items="center" style="width: 18rem">
  <h1 class="text-center mb-4" ,align-items="center">About Us</h1>
  <p class="text-center">
    Welcome to My Blog! We are dedicated to providing a platform for individuals
    to share their thoughts, stories, and articles.
  </p>
  <p class="text-center">
    Our mission is to create a community where everyone can express themselves
    freely and connect with others.
  </p>
</div>

{% endblock %}
