<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Flask Site{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Flask Site</h1>
      <nav>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('about') }}">About</a> |
        <a href="{{ url_for('contact') }}">Contact</a> |
        <a href="{{ url_for('help') }}">Help</a>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2025 Flask Template Site</p>
    </footer>
  </body>
</html>
