{% extends "base.html" %} {% block title %}Home | My Blog{% endblock %} {% block
content %}
<div class="card-mb-3" ,align-items="center" style="width: 18rem">
  <h1 class="text-center mb-4" ,align-items="center">Recent Blogs</h1>
  {% for blog in blogs %}
  <div class="card-mb-3" ,align-items="center" style="width: 18rem">
    <h2 class="card-title" ,align-items="center">{{ blog.title }}</h2>
    <p class="card-text">{{ blog.content }}</p>
  </div>
  {% else %}
  <p class="text-center">No blogs yet. Be the first to add one!</p>
  {% endfor %}
  <p class="text-center">
    <a href="{{ url_for('add_blog') }}" class="btn btn-primary">Add a Blog</a>
  </p>
</div>
<p class="text-center">No blogs yet. Be the first to add one!</p>
{% endfor %} {% endblock %}
