body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #004080;
    padding: 15px 0;
}

.nav-container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-container a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 600;
}

.nav-container a:hover {
    background-color: #002f5f;
    border-radius: 5px;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}
